
.main_page {
  display: grid;
  grid-template-rows: 25rem 25rem;
  grid-gap: 10px;
  grid-template-areas:
    "main-1 side-1"
    "main-2 side-2";
  height: 100%;
  margin: 0;
  padding: 20px;
}

.page-info {
  grid-area: side-1;
  padding: 1rem;
}

#page-title {
  font-family: "Knewave", cursive;
  color: #e8f044;
  text-shadow: 5px 5px #dc2ade;
  font-size: 30px;
}

#page-description {
  font-family: "Sedgwick Ave", cursive;
  color: #dc2ade;
  text-shadow: 2px 2px #e8f044;
  font-size: 25px;
}

.video-1 {
  grid-area: main-1;
}

.video-2 {
  grid-area: main-2;
}

.video-description {
  font-family: "Oxygen", sans-serif;
  color: #82ceda;
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: side-2;
  padding: 1rem;
}

.chrim-ruck-logo {
  border: solid whitesmoke 5px;
  border-radius: 50%;
  height: 305px;
  width: 305px;
}


@media (max-width: 27rem) {
  .main_page {
    display: grid;
    grid-template-rows: 20rem;
    grid-gap: 10px;
    grid-template-areas:
      "side-1"
      "main-1"
      "main-2" 
      "side-2";
    height: 80%;
    margin: 0;
    padding: 20px;
  }

  #page-title {
    font-size: 25px;
  }

  #page-description {
    font-size: 20px;
  }

  .video-description {
    font-family: "Oxygen", sans-serif;
    color: #82ceda;
    font-size: 1rem;
  }

  .chrim-ruck-logo {
    height: 205px;
    width: 205px;
  }
}